p {
        font-family: roboto;
        margin-top: 0;
    }

.video-title {
   font-weight: bold;
   font-size: 18px;
   width: 280px;
   line-height: 24px;
   margin-bottom: 5px;
}

.video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20;
}

.video-author {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-bottom: 20;
}

.video-description {
    font-size: 14px;
    color: rgb(96, 96, 96);
    width: 270px;
    line-height: 22px;
    margin-bottom: 100px;
}

.apple-text {
    margin-bottom: 50px;
    font-size: 18px;
    background-color: rgb(228, 14, 14);
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.span-example {
    margin-left: 5px;
}

.span-example:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    color: white;
}